.btn {
    display: inline-block;
    padding: 1em;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    font-size: 18px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    border-radius: 0.3em;
    opacity: 0.9;
    transition: all 0.3s;
}

.btn:hover {
    box-shadow: 0 3px 6px #ccc;
    opacity: 1;
}